@charset "UTsec_secF8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.sec_2 {
  padding-top: 0 !important;
}

.sec_3,
.sec_4 {
  padding-top: 0;
  align-items: flex-start !important;
}

.sec_1 .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  clip-path: circle(70% at right -65%);
  animation: animateCircel 5s linear infinite;
}

@keyframes animateCircel {
  50% {
    clip-path: circle(70% at right -73%);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 40px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 200px;
  font-family: "Lobster", cursive;
  font-weight: 400;
  color: #161616;
  font-size: 35px;
  transition: all 0.5s ease-in-out;
}

header .navigation {
  display: flex;
  align-items: center;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

header .navigation > li {
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
}

header .navigation > li + li {
  margin-left: 40px;
}

header .navigation > li.active {
  color: #76d8ff;
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

header .navigation > li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #76d8ff;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.5s ease-in-out;
}

header .navigation > li:hover:after {
  width: 100%;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typed-cursor {
  color: #afabab;
}

.content .text_box {
  position: relative;
  max-width: 800px;
  margin-right: 20px;
}

.profile_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
}

.profile_wrap > ul > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}

.profile_wrap > ul > li > a > span {
  margin-left: 5px;
  font-size: 13px;
  line-height: 19px;
}
.profile_wrap > ul > li > a {
  letter-spacing: 0 !important;
}

.profile_wrap > ul > li > img {
  width: 18px;
  height: 18px;
}
.content .text_box .profile {
  overflow: hidden;
  width: 100%;
  max-width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 1px solid #76d8ff;
  background-color: #76d8ff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.content .text_box .profile > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content .swiper_box {
  width: 580px;
}

.content .swiper_box img {
  max-width: 150px;
}

/* *****switer**** */
.swiper {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
}

.swiper_black_bg {
  background-color: #000000 !important;
}
.swiper_black_nest_bg {
  background-color: #330d16;
}

.swiper-slide img {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  max-height: 100%;
  object-fit: contain;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #161616;
}

.development {
  margin-top: 5px;
}

.development > span {
  display: inline-block;
  color: #697477;
  font-size: 16px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 5px 8px;
  background-color: #fafaff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 5px;
}

.development > span:hover {
  background-color: #76d8ff;
  color: #fff;
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
  transform: scale(1.1);
  animation: vibration 0.1s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.sci {
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci > li > a {
  display: inline-block;
  background-color: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.sci > li > a > img {
  width: 50px;
  height: 50px;
  filter: invert(1);
  transform: scale(0.5);
}

.sci > li + li > a {
  margin-left: 15px;
}

.sci > li > a:hover {
  background-color: #76d8ff;
  transform: translateY(-10px);
}

.arrow {
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow > span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background-color: #222;
  padding: 10px;
  cursor: pointer;
}

.arrow > span > img {
  transform: translateY(3px);
  color: #fff;
  width: 25px;
  height: 25px;
  filter: invert(1);
  animation: scrollUp 1s ease-in-out infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(1px);
  }
}
/*  session 2 */
.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 40px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before,
.ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 20.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 74.44680851063829%;
}

.ipsGrid_span6 {
  width: 100%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}

.card {
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px #cccccc;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.featured-image-container .card {
  padding: 10px;
  height: 114px;
  padding-bottom: calc(100% - 114px);
}

h2.heading_large {
  font-size: 1.8em;
}

img {
  max-width: 100%;
}

/*  session 3 */
.header-section {
  margin: 0 auto 120px;
  color: #161616;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  border-bottom: 1px solid rgb(202, 194, 194);
  padding: 30px 0;
}

.featured_title {
  color: #161616;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.featured_title > li + li {
  color: #161616;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.gs_reveal > li {
  line-height: 27px;
  word-break: break-all;
}
.gs_reveal > li > a {
  cursor: pointer;
}

.gs_reveal > li > b {
  font-weight: 500;
}

/*  session 4 */
.sec_3 > div {
  width: 1240px;
  margin: 0 auto;
}

.side_wrap + .side_wrap {
  margin-top: 150px;
}

.activity_wrap {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.side_sub_title {
  text-align: center;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 1.2px;
}

.activity_title {
  margin-bottom: 30px;
}

.side_sub_title > span {
  font-size: 14px;
  line-height: 21px;
}
.side_img_wrap {
  margin: 50px 0;
}

.side_title {
  color: #161616;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  border-bottom: 1px solid rgb(202, 194, 194);
  padding: 30px 0;
  width: 100%;
  text-align: center;
  margin: 0 auto 120px;
}

.activity_title {
  margin-top: 150px;
}

.side_second_title {
  margin-top: 150px;
}

.side_img_wrap > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.side_img_first > ul {
  justify-content: center;
  align-items: center;
}

.side_img_wrap > ul > li {
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px #cccccc;
  width: 30%;
  height: auto;
  box-shadow: 4px 4px 15px rgb(0 0 0 / 15%);
  cursor: pointer;
  transition: all 0.5 ease-in-out;
  padding: 10px;
}

.side_img_wrap > ul > li:hover {
  transform: scale(1.1);
  transition: all 0.5 ease-in-out;
}

.side_info > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side_info > ul > li {
  word-break: keep-all;
  line-height: 27px;
}

.side_info > ul > li > b {
  font-weight: 500;
}

.sec_4 > .certi_wrap {
  width: 1240px;
  margin: 0 auto;
}

.certi_box > li {
  border-bottom: 1px solid #eee;
  padding: 25px 0;
}

.certi_box > li + li {
  margin-top: 30px;
}

.certi_box > li > .certi_info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 60px;
}

.certi_txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.certi_date {
  flex: 1;
  text-align: center;
}

.certi_txt {
  flex: 2;
  word-break: break-all;
}

.featured_sub_title {
  font-size: 18px;
  color: #666;
  letter-spacing: 0.4px;
}

.featured_from {
  font-size: 15px;
  color: #666;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.4px;
}

/*  footer */
.footer {
  padding: 30px 0;
  width: 100%;
  height: 150px;
  background-color: #eee;
}

.footer > ul {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer > ul > li {
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media (max-width: 350px) {
  .profile_wrap > ul > li > a > span {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 580px) {
  .side_info > ul > li {
    font-size: 13px;
  }

  .certi_box > li > .certi_info {
    gap: 35px;
  }

  .featured_sub_title {
    font-size: 14px;
    line-height: 26px;
  }

  .footer > ul > li {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }

  .sec_1 .circle {
    clip-path: circle(70% at right -40%) !important;
  }

  @keyframes animateCircel {
    50% {
      clip-path: circle(70% at right -45%) !important;
    }
  }
}

@media (max-width: 441px) {
  .sec_1 .circle {
    clip-path: circle(70% at right -40%);
    animation: animateCircel 5s linear infinite;
  }

  @keyframes animateCircel {
    50% {
      clip-path: circle(70% at right -35%);
    }
  }
}

@media (max-width: 750px) {
  .sci > li > a {
    width: 40px;
    height: 40px;
  }

  .sci > li > a > img {
    width: 40px;
    height: 40px;
  }

  .arrow > span {
    width: 40px;
    height: 40px;
  }

  .arrow > span > img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 820px) {
  .feature {
    flex-direction: column;
  }

  .feature_right {
    flex-direction: column-reverse !important;
  }

  .experience {
    width: 74.44680851063829% !important;
    margin-bottom: 25px;
  }

  .ipsGrid > [class*="ipsGrid_span"] {
    margin-left: 0;
  }

  .featured_title {
    font-size: 17px;
    line-height: 26px;
  }

  .featured_title > li + li {
    font-size: 13px;
    line-height: 19px;
  }

  .featured-image-container .card {
    width: 150px;
    height: 114px;
  }

  h2.heading_large {
    font-size: 19px;
    line-height: 26px;
    word-break: keep-all;
  }

  .gs_reveal > li {
    font-size: 13px;
    line-height: 19px;
  }
}

@media (max-width: 840px) {
  .side_img_wrap > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .side_img_wrap > ul > li {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 991px) {
  header {
    padding: 40px;
  }

  section {
    padding: 150px 40px;
  }

  .sci {
    left: 40px;
  }

  .arrow {
    right: 40px;
  }

  .sec_1 .circle {
    clip-path: circle(70% at right -25%);
  }

  @keyframes animateCircel {
    50% {
      clip-path: circle(70% at right -30%);
    }
  }

  .sec_1 .circle {
    clip-path: circle(70% at right -48%);

    animation: animateCircel 5s linear infinite;
  }

  @keyframes animateCircel {
    50% {
      clip-path: circle(70% at right -45%);
    }
  }

  .content .text_box .profile {
    border: 1px solid #ffffff;
  }

  .content {
    flex-direction: column;
  }

  .content .text_box,
  .content .swiper_box {
    max-width: 100% !important;
  }

  .content .swiper_box {
    width: 100% !important;
  }

  .content .text_box {
    margin-right: 0;
  }

  .content .text_box .profile {
    margin: 0 auto;
  }

  .swiper-slide {
    height: 300px;
  }

  header .navigation > li + li {
    margin-left: 0;
  }

  header .navigation > li {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 300;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e51e2a;
    z-index: 10000;
  }

  .swiper-slide {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1024px) {
  .featured_link {
    font-size: 14px !important;
  }
}

@media (max-width: 1100px) {
  .content .swiper_box {
    max-width: 350px;
  }
}

@media (max-width: 1200px) {
  .content .swiper_box {
    width: 480px !important;
  }
}

@media (max-width: 1240px) {
  .sec_1 .circle {
    clip-path: circle(70% at right -55%);

    animation: animateCircel 5s linear infinite;
  }

  @keyframes animateCircel {
    50% {
      clip-path: circle(70% at right -45%);
    }
  }
}

@media (max-width: 1300px) {
  .content .swiper_box {
    width: 430px;
  }
}

@media (max-width: 1386px) {
  .profile_wrap {
    flex-direction: column;
  }

  .sec_1 .circle {
    clip-path: circle(70% at right -45%);
    animation: animateCircel 5s linear infinite;
  }

  @keyframes animateCircel {
    50% {
      clip-path: circle(70% at right -48%);
    }
  }
}
